body {
  margin: 0;
  display: flex;
  min-height: 100vh; }

svg {
  flex-basis: 80vw;
  height: 99vh; }

.ui {
  background: #222221;
  flex: 1 1 18vw;
  color: #fff;
  padding: 1em;
  font-family: 'Space Mono', monospace;
  letter-spacing: 0.1em;
  text-align: center; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    color: lime; }

fieldset {
  margin: 0;
  border: 0;
  padding-top: 1em;
  border-top: 1px solid magenta; }

.animate {
  min-width: 60%; }

#t {
  display: inline-block;
  margin: 0 1em;
  width: calc(100% - 2em); }

.animation-ui {
  display: flex;
  flex-wrap: wrap; }
  .animation-ui__title {
    flex: 0 0 100%; }
  .animation-ui__input {
    flex: 1 1 25%; }
    .animation-ui__input__checkbox {
      margin-right: 1em; }
    .animation-ui__input__number {
      width: 66%; }
  .animation-ui__button {
    flex: 0 0 40%;
    margin-right: 1em;
    align-self: flex-end; }
  .animation-ui__iteration, .animation-ui__time {
    display: flex;
    flex-direction: column;
    flex-basis: 100%; }
    .animation-ui__iteration__title, .animation-ui__time__title {
      margin: 1.5em 0.5em 0.5em 0.5em;
      align-self: flex-start; }
    .animation-ui__iteration__label, .animation-ui__time__label {
      display: inline-block; }
    .animation-ui__iteration__item, .animation-ui__time__item {
      display: flex;
      justify-content: space-between; }
      .animation-ui__iteration__item__number, .animation-ui__time__item__number {
        width: 25%; }
      .animation-ui__iteration__item--revealer, .animation-ui__time__item--revealer {
        flex-wrap: wrap; }

label {
  display: block;
  text-transform: uppercase;
  font-size: 90%;
  position: relative; }

label[for=anim-ui-from]::before {
  content: '\0394';
  color: magenta;
  position: absolute;
  left: -0.2em;
  font-size: 70%;
  top: 15%; }

.reveal-if-active {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  opacity: 0;
  overflow: hidden;
  height: 0;
  transform: scale(0);
  transition: all 0.5s; }
  .reveal-if-active__input {
    flex-basis: 25%; }
  .reveal-if-active__label {
    padding-left: 2em; }

input[type="checkbox"]:checked ~ .reveal-if-active {
  opacity: 1;
  overflow: visible;
  height: 1.3em;
  transform: scale(1); }

label > span {
  color: magenta;
  padding-left: 1em; }

#test-path {
  stroke-width: 3;
  fill: none; }

circle {
  r: 5; }

line, circle:not(.point-handle) {
  pointer-events: none; }
